header{
  height: 75px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Espaço entre logo e lista de navegação */
  align-items: center; /* Alinha verticalmente ao centro */
  vertical-align: middle;
}

.list-nav {
  
  margin-top: 35px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; /* Mantém os itens da lista alinhados à direita */
  align-items: center;
  
  gap: 20px; /* Espaçamento entre os itens */
}

.nav-item {
  
  font-weight: 800; /* Deixa o texto mais grosso */
  color: black;
  transition:  0.3s;
}

.nav-item:hover {
  font-size: 1.2em; /* Aumenta o tamanho da fonte no hover */
  color: aqua;
}
