@model List<Servico>

<h1 class="mb-4">Lista de Serviços</h1>
<ul class="list-group">
    @foreach(var obj in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <input type="checkbox" class="service-checkbox" data-id="@obj.ServicoID" data-price="@obj.PrecoBase" onclick="calculateTotal()">
            <span class="w-25 text-truncate"><strong></strong> @obj.Nome</span>
            <span class="w-50 text-truncate"><strong></strong> @obj.Descricao</span>
            <span class="w-25 text-truncate"><strong></strong> R$@obj.PrecoBase</span>
        </li>
    }
</ul>

<h3 class="mt-4">Total: R$ <span id="totalPrice">0.00</span></h3>

<div class="container mt-5">
    <h2>Selecione uma Data</h2>
    <form id="agendarForm">
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" placeholder="Selecione uma data">
        </div>
        
        <button type="button" class="btn btn-primary mt-4" id="agendarButton">Agendar</button>
    </form>
</div>

<div id="successMessage" class="alert alert-success mt-3" style="display: none;">
    Serviço agendado com sucesso!
</div>