body {
    background-color: #FFD100;

}
h2{
    text-align:center;
    margin:40px;
    margin-top:80px;
}

a.login { /*tive q colocar um login para mexer separado o estilo*/
    display: flow;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus, a:active {
        text-decoration: none; /* Garante que o sublinhado não apareça ao passar o mouse */
        color: inherit; /* Mantém a cor inalterada ao passar o mouse ou focar */
}

.btn-primary {                                  /*botão*/
    font-weight: 500;
    padding: 5px 25px 5px 25px;
    font-size: 20px;
    border-radius: 0;
    margin-top: 20px;
    background-color: #FFBB12;
    color: black;
}
.form-group {
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.custom-container {             /*o css do layout q tive q alterar o conteiner do bostrap*/
    max-width: 1200px;
    margin: 0 auto; 
    width: 500px;
}
span {                    /*feito para conseguir alterar o display do botão, pois estava fixo no cointainner do bostrap e no form*/
    display:flow;
    text-align: center;
}

